.nav {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav > .logo {
    margin-top: 30px;
    max-width: 250px;
}

.nav--block {
    align-self: start;
    margin-top: 30px;
    margin-left: 40px;
}

.nav--links {
    all: unset;
    list-style: none;
}

.nav--links li {
    margin-bottom: 22px;
}


.nav--links > li a{
    all: unset;
    cursor: pointer;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 20px;
}

.nav--links > li a img {
    margin-right: 12px;
}
